@keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--accent) 0%, var(--accent-2) 100%);
        transform: rotate(0deg);
    }

    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--accent) 0%, var(--accent-2) 100%);
    }

    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--accent) 0%, var(--accent-2) 100%);
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes show {
    0% {
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hide {
    0% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
    }
}